<div data-page-title="{{ page_title }}">
<div class="container mt-4">
    <h3 class="display-6">Excluir possível tarefa</h3>
    <div class="card">
        <div class="card-body">
            <p>Deseja realmente excluir esta possível tarefa?</p>
            <blockquote class="blockquote">{{ object.description }}</blockquote>
            <form method="post" action="{{ request.path }}" hx-post="{{ request.path }}" hx-target="#page-content" hx-swap="innerHTML">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" title="Excluir">Excluir</button>
                <a href="{{ cancel_url }}" class="btn btn-secondary ms-2" title="Cancelar" hx-get="{{ cancel_url }}" hx-target="#page-content" hx-swap="innerHTML" hx-push-url="true">Cancelar</a>
            </form>
        </div>
    </div>
</div>
</div>
